* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    margin: 80px auto;
    text-align: center;
}
.text{
    width:800px;
    margin:0 auto;
}
.contact100-form-btn{
    font-size: 15px;
    padding: 10px;
    background-color: #1a202c;
    color: #a0aec0;
}
body{
    background-color: #c3d4c6;
    color: #a0aec0;
}

.title{
    font-size: 25px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    color: #1a202c;
}

.wrong {
    display: inline-block;
    position: relative;
    text-decoration-color: red;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.box{
border: 2px solid #1a202c;
    border-radius: 5px;
    background-color: #718096;
    width: auto;
    height: auto;
    padding: 30px;
    display: none;"
}

select{
    font-size: 10px;
    padding: 2px;
    background-color: #1a202c;
    color: #a0aec0;
}
.choose{
    font-size: 15px;
    padding: 6px;
    background-color: #1a202c;
    color: #a0aec0;
    font-weight: bold;
}
